@model IEnumerable<ReservationViewModel>
@{ 
    ViewBag.Title = "All Reservations"; 
} 

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<table class="table">
    <thead>
    <tr>
        <th>Хотел</th>
        <th>Резервации</th>
        <th>Оборот</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var hotel in Model.GroupBy(r => r.Title))
    {
        <tr>
            <td>@hotel.Key</td>
            <td>
                @foreach (var reservation in hotel)
                {
                    var isPast = DateTime.Now > reservation.DepartureDate;
                    <p>
                        @reservation.UserFullName (@reservation.UserEmail)
                        Телефон: @reservation.UserPhoneNumber
                        Дата на настаняване: @reservation.AccommodationDate.ToString("yyyy-MM-dd")
                        Дата на напускане: @reservation.DepartureDate.ToString("yyyy-MM-dd")
                        Брой нощувки: @reservation.Days
                        Цена: @reservation.Price
                        @if (isPast)
                        {
                            <span class="text-danger">Минала резервация</span>
                        }
                    </p>
                }
            </td>
            <td>
                @hotel.Sum(r => r.TotalPrice)
            </td>
        </tr>
    }
    </tbody>
</table>