@model HotelReservationViewModel
@{
    ViewData["Title"] = "RESERVATION";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 text-lg-start">
        <form method="post">
            <h3 class="text-center">@Model.Locatioin</h3>

            <h4 class="text-center">
                @Model.Category @Model.Title @{
                    int star = Model.Star;
                }
                @for (int i = 1; i <= star; i++)
                {
                    <a class="star"></a>
                }
            </h4>


            <div class="img-fluid text-center">
                <img class="d-block w-100" src="@Model.ImageUrl" alt="Image">
            </div>

            <h3 class="text-center">@Model.CateringType</h3>

            @if (Model.DoubleRoomPrice > 0)
            {
                <h3>Двойна стая: <b>@($"{Model.DoubleRoomPrice:f0}") ЛВ.</b></h3>
            }
            @if (Model.StudioPrice > 0)
            {
                <h3>Студио: <b>@($"{Model.StudioPrice:f0}") ЛВ.</b></h3>
            }
            @if (Model.ApartmentPrice > 0)
            {
                <h3>Апартамент: <b>@($"{Model.ApartmentPrice:f0}") ЛВ.</b></h3>
            }

            <div class="modal-title">
                <label asp-for="@Model.АccommodationDate"></label>
                <input id="accommodationDateInput" asp-for="@Model.АccommodationDate" class="form-control" type="date" placeholder="Title...">
                <span asp-validation-for="@Model.АccommodationDate" class="small text-danger"></span>
            </div>

            <div class="modal-title">
                <label asp-for="@Model.DepartureDate"></label>
                <input id="departureDateInput" asp-for="@Model.DepartureDate" class="form-control" type="date" placeholder="Title...">
                <span asp-validation-for="@Model.DepartureDate" class="small text-danger"></span>
            </div>

            @if (Model.DoubleRoomPrice > 0 || Model.StudioPrice > 0 || Model.ApartmentPrice > 0)
            {
                <h4 class="text-center">
                    @if (Model.DoubleRoomPrice > 0 && Model.StudioPrice > 0 && Model.ApartmentPrice > 0)
                    {
                        <span>Моля изберете вида на помещението:</span>
                    }
                    else
                    {
                        <span>Ние предлагаме:</span>
                    }
                </h4>
            }

            <div class="form-check">
                @if (Model.DoubleRoomPrice > 0)
                {
                    <input class="form-check-input" type="checkbox" id="doubleRoomCheckbox" name="RoomType" value="Double">
                    <label class="form-check-label" for="doubleRoomCheckbox">Двойна стая</label>
                }
            </div>
            <div class="form-check">
                @if (Model.StudioPrice > 0)
                {
                    <input class="form-check-input" type="checkbox" id="studioCheckbox" name="RoomType" value="Studio">
                    <label class="form-check-label" for="studioCheckbox">Студио</label>
                }
            </div>
            <div class="form-check">
                @if (Model.ApartmentPrice > 0)
                {
                    <input class="form-check-input" type="checkbox" id="apartmentCheckbox" name="RoomType" value="Apartment">
                    <label class="form-check-label" for="apartmentCheckbox">Апартамент</label>
                }
            </div>

            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Резервирай" />
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            
            $('#accommodationDateInput, #departureDateInput').click(function () {
                
                $('.dropdown-menu').removeClass('show');
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            // Селекторите '#accommodationDateInput' и '#departureDateInput' избират съответните input елементи
            $('#accommodationDateInput, #departureDateInput').on('change', function () {
                var currentDate = new Date();
                var selectedDate = new Date($(this).val());

                if (selectedDate < currentDate) {
                    alert('Невалидна дата. Моля, изберете дата след текущия ден.');
                    $(this).val('');
                }
            });
        });
    </script>
}
